body {
    margin: 0%;
    background-color: black;


}


/*Header*/

#header{
    display: block;
    width: 100%;
    height: 7vh;
}

#header-container {
    background-color: rgba(32, 32, 36, 0.829);
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0.6;
    z-index: 3;


}

/*Title - Header*/

#div-title-logo{
    color: white;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 3%;
}

#logo {
    width: 2em;
    height: 20%;
    display: flex;
    border-radius: 15%;
}

#title {
    font-family: 'Prompt', sans-serif;
    margin-left: 4px;
}


/*Hamburger Menù - Header*/

#circle {
    position: absolute;
    display: flex;
    border: 2px inset rgb(255, 255, 255);
    width: 3em;
    height: 3em;
    border-radius: 100%;
    
}

.line {
    display: block;
    width: 1.8em;
    height: 0.2em;
    background: white;
    margin: 0.3em;
}

#hamburger-menu {
    margin-right: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Hamburger Menù Open - Header*/

#header-open {
    position:absolute;
    margin-top: 4.4em;
    width: 98.3%;
    text-decoration: none;
    z-index: 3;
}

.button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgb(20, 21, 22);
    opacity: 0.4;
    height: 7em;
}

#button-info a {
    color: white;
    font-size: xx-large;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    opacity: 1.0;
}
.button-panel:hover{
    color: white;
    opacity: 0.8;
}




main{
    display:block;
}

#main-container-I{
    width: 100%;
    height: 100vh;
    background-image: url(/E-Light/img/bg/bgCharacters/bgMain1-1.png);
    background-size: 100%;

}

#div-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Belt - Sliding */

#belt{
    width: 10vh;
    height: 10vh;
    display: block;
    animation: scrollimg 30s linear infinite;
    position: relative;
    

}

@keyframes scrollimg {
0%{ bottom: -80vh}
50%{bottom:60vh}
100%{bottom:200vh}
}

#belt img{
    display: block;
    width: 10vh;
    height: 10vh;
    margin: 0%;
    z-index: 2;
}

#name{
    background: white;
    margin: 0%;
    height: 12vh;
    margin-bottom: 10%;
    z-index: 1;
}

#name h3{
    text-align: center;
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2%;
    font-family: 'Syncopate', sans-serif;
    color: black;
    font-weight: 100;
}




/*Carousel*/


.slider{
 position: relative;
}

.box{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.637);
    opacity: 0.7;
    margin-top: 4%;
    margin-bottom: 4%;
}

.main-box{
    background-color: white;
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 100px 10px 100px rgba(255, 255, 255, 0.329);
}


.container2{
    width: 100vh;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-immagine-piccola{
    width: 250px;
    height: 250px;
    border: solid 3px rgb(112, 228, 218);
    border-radius: 100%;
    background-image: url(coverCap1-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.storia-pg{
 width: 50%;
 display: flex;
    flex-direction: column;
    text-align: center;
 
 
 
}

#titolo-storia{
color: rgb(112, 228, 218);
margin: 5px;
font-size: 2em;

}

#paragrafo{
color: rgb(112, 228, 218);
margin: 0px;
word-break: break-word;
}



/*Arrows*/
#arrows{
    
    width: 45vh;
    height: 5vh;
    position: absolute;
    left: 45vh;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    transform: rotate(90deg);
}

#arrow-right{
    transform: rotate(180deg);
    margin-left: 50%;
}


