body{
    margin: 0%;
    background-color: rgb(0, 0, 0);
}




/*Header*/

#header{
    display: block;
    width: 100%;
    height: 7vh;
}

#header-container {
    background-color: rgba(32, 32, 36, 0.829);
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0.6;
    z-index: 3;


}

/*Title - Header*/

#div-title-logo{
    color: white;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 3%;
}

#logo {
    width: 2em;
    height: 20%;
    display: flex;
    border-radius: 15%;
}

#title {
    font-family: 'Prompt', sans-serif;
    margin-left: 4px;
}


/*Hamburger Menù - Header*/

#circle {
    position: absolute;
    display: flex;
    border: 2px inset rgb(255, 255, 255);
    width: 3em;
    height: 3em;
    border-radius: 100%;
    
}

.line {
    display: block;
    width: 1.8em;
    height: 0.2em;
    background: white;
    margin: 0.3em;
}

#hamburger-menu {
    margin-right: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Hamburger Menù Open - Header*/

#header-open {
    position:absolute;
    margin-top: 4.4em;
    width: 98.3%;
    text-decoration: none;
    z-index: 3;
}

.button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgb(20, 21, 22);
    opacity: 0.4;
    height: 7em;
}

#button-info a {
    color: white;
    font-size: xx-large;
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
    opacity: 1.0;
}
.button-panel:hover{
    color: white;
    opacity: 0.8;
}


/* All Main */
#allmain{
    display: block;
    width: 100%;
    z-index: 0;
}

#donation{
    background-color: rgba(255, 217, 0, 0.418);
}

/* Arrows - Main*/

#div-arrows{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 70%;
    top: 50%;

}
#arrow-l {
    background-color: #28282800;
	width: 6vh;
	height: 6vh;
	transform: rotate(-45deg);
    border-left: 0.8vmin solid white;
    border-top: 0.8vmin solid white;
    opacity: 0.5;

}

#arrow-r {
    background-color: #28282800;
	width: 6vh;
	height: 6vh;
	transform: rotate(-45deg);
    border-right: 0.8vmin solid white;
    border-bottom: 0.8vmin solid white;
    opacity: 0.5;
}

#arrow-l:hover {
    border-left: 0.6vmin solid rgb(87, 87, 87);
    border-top: 0.8vmin solid rgb(255, 255, 255);
    opacity: 1;
}

#arrow-r:hover {
    border-right: 0.8vmin solid rgb(255, 255, 255);
    border-bottom: 0.6vmin solid rgb(87, 87, 87);
    opacity: 1;
}

#arrow-l:active {
    border-left: 0.6vmin solid rgb(21, 58, 128);
    border-top: 0.6vmin solid rgb(0, 89, 255);
}

#arrow-r:active {
    border-right: 0.6vmin solid rgb(0, 89, 255);
    border-bottom: 0.6vmin solid rgb(21, 58, 128);
}


/* 1 zone - Main*/


#main-container-I{
    background-image: url('/E-Light/img/bg/bgIndex/bgMain1-3.png');
    background-size: 105%;
    background-position: bottom;
    background-repeat:repeat;
    display:block;
    width: 100%;
    height:93vh;
}


#div-bg1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}



#bg-slides{
    display: flex;
    justify-content: right;
    width: 90vh;
    height:80vh;
    border-radius: 5%;
}

#bg-slides img{
    display: none;
    width: 90vh;
    height:80vh;
    border-radius: 5%;

}

#bg-slides img:nth-child(1){
    display: block;
    width: 90vh;
    height:80vh;
    border-radius: 5%;
}

/* 2 zone - Main */

#main-container-II{
    background-image: url('/E-Light/img/bg/bgIndex/bgMain2-2.png');
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
}


#div-bg2{
    width: 29%;
    height:55vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.733);
    border-bottom-left-radius: 10%;

}




#div-eyes{
    background-size: 100%;
    width: 100%;
    height: 40%;
    display: flex;
    opacity: 1.0;
    margin-top: 0%;
    margin-left: 0%;
    

}



#eye-l {
    background-image: url('/E-Light/img/bg/bannerIndex/eyeCrow.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 50%;
    height: 100%;
}




#eye-r{
    background-image: url('/E-Light/img/bg/bannerIndex/eyeOwl.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 50%;
    height: 100%;
    float: right;
}

#text-1{
    text-align: center;
    padding: 4%;
    font-family: 'Prompt', sans-serif;
    font-size: x-large;
}

#text-2{
    text-align: end;
    padding: 5%;
    font-family: 'Prompt', sans-serif;
    font-size: small;
}




/* 1 cintura - Main */

#div-belt{

    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: rgb(55, 0, 255);
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
    margin: 2%;
}

.belt1{
    
    width: 10vw;


}

/* 2 Cintura - Main */

#div-belt2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 0, 255);
    align-items: center;
    height: 10vw;
    margin-top: 3%;
    margin: 2%;
}


.belt2{
    
    width: 10vw;


}



/* 3 Cintura - Main */


#div-belt3{
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 0, 255);
    align-items: center;
    height: 10vw;
    margin-top: 3%;
    margin: 2%;
}

.belt3{
    width: 10vw;
}