/************************************************* General ************************************************************************/

body{
    margin: 0 0;
    background-color: black;
}

.list-unstyled{
    margin-bottom: 0;
}

.list-inline li{
    display:inline;
}



/* All Main ( is necessary to divide the sections of the main in block) */
#allmain{
    display: block;
    width: 100%;
    z-index: 0;
}

/******************************************* Animation name and classes ********************************************************************/

.hidden1{
    display: none;
}

/* Main 1 - Animation of text */

@keyframes scrolltext {
    from { transform: translateY(0); }
    to { transform: translateY(-330vh); }
}


/* Main 1 - Animation of text container */
.animation3{
    animation: scrollTextContainer 2s linear forwards;
    display: block;
}

@keyframes scrollTextContainer{
    from {top:-99vh}
    to {top: 0vh;}
}

/*Main 2 - Scroll Buttons info from R */
.animation1{
    animation: scrollInfoRt 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    display: block;
    opacity: 1;
}

@keyframes scrollInfoRt{
    from {
        transform: translateX(-30vh);
        opacity: 0;
    }
    to {
        opacity: 1;}
    }


    /*Main 2 - Scroll Buttons info from R */
.animation2{
        animation: scrollInfoLt 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        display: block;
    }

@keyframes scrollInfoLt{
        from {
            transform: translateX(30vh);
            opacity: 0;
        }
        to {
            opacity: 1;}
        }




/* Main 2 - Registration fade-in */
 .animation4{
    animation: regEnter 3s linear forwards;
    display: block;
 }

 @keyframes regEnter {
    0%{ opacity: 0;}
    50%{opacity: 0.3;}
   100%{opacity: 1;}
 }




/*************************************************Main I************************************************************************/


#main-container-I{
    margin-bottom: 1%;
    display: block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 77deg, rgba(15, 13, 107, 0.164), rgba(156, 10, 10, 0.192)), url(/E-Light/img/bg/bgIndex/bgMain1-3.png);
    background-repeat: no-repeat;
    background-size: 102%;
    background-position-y: 6vh;
}

#div-main-I{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Main 1 - Write Section */
#main-writesection-container{
    background:rgba(255, 255, 255, 0.726);
    color: rgb(0, 0, 0);
    display: block;
    width: 65vh;
    height: 80vh;
    box-shadow: 30px 0px 100px rgb(0, 0, 0);
    position: relative;
}

#presentation-wrap{
    display: flex;
    justify-content: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 22px;
    width: 65vh;
    height: 80vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

#presentation-wrap::-webkit-scrollbar{
    width: 8px;
}


.scroll-text h2, .scroll-text h3{
    text-align: center;
    color: red;
    font-size: 0.8em;
    
}

.scroll-text{
    text-align: justify;
    position: relative;
    width: 60vh;
    height: auto;
    animation: scrolltext 40s linear infinite;
    text-shadow: 2px 5px 10px rgba(85, 41, 79, 0.808);
    margin-top: 100%;
    padding: 1em;
    cursor: pointer;
}


/* Main 1 - Slider */



#bg-slides{
    border-radius: 5%;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.712);
}



#bg-slides img{
    display: none;
    width: 50vh;
    height:50vh;
    border-radius: 5%;
    

}

#bg-slides img:nth-child(1){
    display: block;
    width: 50vh;
    height:50vh;
    border-radius: 5%;
}

/* Main 2 - Slider Arrows*/

#div-arrows{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120%;
    top: 30vh;
    right: 10%;


}
#arrow-l {
    background-color: #28282800;
	width: 6vh;
	height: 6vh;
	transform: rotate(-45deg);
    border-left: 0.8vmin solid rgb(255, 0, 0);
    border-top: 0.8vmin solid rgb(128, 21, 21);
    opacity: 0.5;
    cursor: pointer;

}

#arrow-r {
    background-color: #28282800;
	width: 6vh;
	height: 6vh;
	transform: rotate(-45deg);
    border-right: 0.8vmin solid rgb(255, 0, 0);
    border-bottom: 0.8vmin solid rgb(128, 21, 21);
    opacity: 0.5;
    cursor: pointer;
}

#arrow-l:hover {
    border-left: 0.6vmin solid white;
    border-top: 0.8vmin solid rgb(255, 0, 0);
    opacity: 1;
}

#arrow-r:hover {
    border-right: 0.8vmin solid white;
    border-bottom: 0.6vmin solid rgb(255, 0, 0);
    opacity: 1;
}

#arrow-l:active {
    border-left: 0.6vmin solid rgb(128, 21, 21);
    border-top: 0.6vmin solid rgb(255, 0, 0);
}

#arrow-r:active {
    border-right: 0.6vmin solid rgb(255, 0, 0);
    border-bottom: 0.6vmin solid rgb(128, 21, 21);
}


/* Main 1 - Audio */

#audio {
    width: 100%;
    padding: 2%;
    border: none;
    cursor: pointer;
}

/*************************************************Main II************************************************************************/

#main-container-II{
    display: block;
    width: 100%;
    height:100vh;
}

#div-main-II{
    background-image: linear-gradient( 77deg, rgba(15, 13, 107, 0.164), rgba(156, 10, 10, 0.192)), url(/E-Light/img/bg/bgIndex/bgMain2-1.png);
    background-size: 110%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#div-tickets hr{
    background: black 100%;
}

#title-1{
    width: 70%;
    font-family: 'Syncopate', sans-serif;
    font-size: normal;
}

#text-2{
    text-align: center;
    padding: 5%;
    font-family: 'Syncopate', sans-serif;
    font-size: 2vh;
}

#text-2 li{
    text-align: left;
}


/* Main 2 - Ticket-Itype-L - Left Buttons*/

#ticket-I-lx{
    width: 30%;
    height:45vh;
}

#ticket-I-rx{
    width: 30%;
    height:45vh;
}



#ticket-I-lx img{
    width: 15vh;
    height: 13.5vh;
}

#ticket-I-rx img{
    width: 15vh;
    height: 13.5vh;
}


.button-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    height: 30%;
    width: 100%;

}



.button-info:hover{
background: white;
color: rgb(0, 0, 0);
transform: scale(1.1);
}


.button-info a{
    text-decoration: none;
    color: red;

}

.button-info a:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}




/* Main 2 - Ticket-IItype-Middle - Registration*/

#ticket-II{
    width: 50vh;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 10%;
}

#div-eyes{
    background-size: 100%;
    width: 100%;
    height: 15vh;
    display: flex;
    

}

#eye-l {
    background-image: url(/E-Light/img/bg/bgIndex/bannerIndex/eyeCrow.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 50%;
    height: 100%;
}

#eye-r{
    background-image: url(/E-Light/img/bg/bgIndex/bannerIndex/eyeOwl.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 50%;
    height: 100%;
    float: right;
}

#div-II{
    display: block;
    width: 100%;
    font-family: 'Syncopate', sans-serif;
}

#registration-title{
    font-family: 'Syncopate', sans-serif;
    color: greenyellow;
    margin-top: 0px;
    position: relative;
    top: -1vh;
}


input{
    display: block;
    width: 100%;
    height: 2em;
    border: none;
    margin-bottom: 3%;
    background: white;
    margin-top: 3%;
    font-family: 'Syncopate', sans-serif;
    cursor: pointer;
}

#submit{
    background: greenyellow;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    border: 2px solid white
}

form{
    text-align: center;
    margin: 10%;
}

form button {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 3em;
    margin-bottom: 5%;
    font-size: small;
    background: white;
    font-family: 'Syncopate', sans-serif;
    padding: 5px;
}

form button img{
    width: 2em;
}

form h3{
    display: flex;
    color: greenyellow;
}

form a {
    font-size: small;
    text-decoration: none;
    color: greenyellow;
    padding: 10px;
}

