@media only screen and (max-width: 768px){


    /* Menù I */
    #main-container-I{
        background-size: 500vh;
    }
    #main-writesection-container{
        width: 35vh;
    }
    #presentation-wrap{
        width:35vh;
        font-size: 18px;
    }

    .scroll-text{
    margin-top: 220%;
    }


    /* Main II */   


    #ticket-I-lx{
    display: none;
    }

    #ticket-I-rx{
    display: none;
    }

    #ticket-II{
    width: 50vh;
    }

}