@media only screen and (max-width: 1200px){

    
    #ticket-II{
        width: 40vh;
    
    }

    #header{
        height: 10vh;
    }

    #div-section-menu{
        height: 5vh;
    }

    #ticket-I-lx #ticket-I-rx{
        width: 20%;
    }

    #ticket-I-lx img{
        display: none;
    }

    #ticket-I-rx img{
        display: none;
    }


    #main-container-I{
        height: 100vh;
        background-size: 200%;
    }

    #main-container-II{
        height: 100vh;
        background-size: 200%;
    }

    #bg-slides{
        width: 40vh;
        height:40vh;
        border-radius: 5%;
        
    }

    #div-arrows{
        width: 120%;
    }

    #main-writesection-container{
        width: 35vh;
        font-size: 10px;
    }

    #presentation-wrap{
        width:35vh;
    }

    .scroll-text{
        width: 32vh;
    }


}